{{/* Adapted from https://gist.github.com/jeremyjaymes/403f1cb712d98e8c8a36c904055958d6 */}}

<meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Summary }}{{ end }}"/>
<meta name="robots" content="noodp"/>
<link rel="canonical" href="{{ .Permalink }}" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="{{ .Site.Params.twitter }}" />

<meta property="og:locale" content="en_US" />
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:site_name" content="{{ .Site.Title | plainify }}" />

{{ if .IsHome }} 
<meta property="og:title" content="{{ .Title | plainify }} - {{ .Site.Params.Tagline }}" />
<meta property="og:description" content="{{ .Site.Params.description }}" />
{{ else }}
<meta property="og:title" content="{{ .Title | plainify }} - {{ .Site.Title | plainify }}" />
<meta property="og:description" content="{{.Summary}}" />
{{ end }}


<!-- JSON-LD -->
{{ if .IsHome }}
<script type="application/ld+json">
  { 
      "@context": "http://schema.org", 
      "@type": "WebSite", 
      "url": "{{ .Permalink }}", 
      "name": "{{ .Site.Title | plainify }}",
      "author": {
          "@type": "Person",
          "name": "{{ .Site.Params.author }}"
      },
      "description": "{{ .Site.Params.description }}"
    }
</script>
{{ end }}
{{ if .IsPage }}
<script type="application/ld+json">
  {{if eq .Section "posts"}}
  { 
      "@context": "http://schema.org", 
      "@type": "BlogPosting",
      "headline": "{{ .Title }}",
      "url": "{{ .Permalink }}",
      "datePublished": "{{ time .Date }}",
      "description": "{{ .Summary | plainify }}",
      "author": {
          "@type": "Person",
          "name": "{{ .Site.Params.author }}"
      }
  }
  {{ else }}
  { 
      "@context": "http://schema.org", 
      "@type": "WebSite", 
      "url": "{{ .Permalink }}", 
      "name": "{{ .Title }}",
      "author": {
          "@type": "Person",
          "name": "{{ .Site.Params.author }}"
      },
      "description": "{{ .Site.Params.description }}"
  }
  {{ end }}
</script>
{{ end }}
